body{
    margin: 30px;
    font-family: Arimo, Geneva, Tahoma, sans-serif;
}

#bar-fixed {
  width: 20%;
}

#bar-fixed.stickIt {
  position: fixed;
  top: 0px;
}
.sidebar {
  float: left;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.bar{
    padding-top: 50px;
}

.container-fluid{
    background-color: rgb(175, 175, 175);
}

.navbar-brand{
    padding: 10px;
}

.clearfix{
    width: 80%;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
.smallPic{
    width: 300px;
    margin: 20px;
    height: auto;
}

.largePic{
    height: 500px;
    margin:auto;
}

p{
    margin: 20px;
}

h2{
    text-align: center;
}